<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PresetVolume.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PresetVolume.Properties.Settings>
            <setting name="preset1" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="preset2" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="preset3" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="preset4" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="preset5" serializeAs="String">
                <value>80</value>
            </setting>
        </PresetVolume.Properties.Settings>
    </userSettings>
</configuration>